- var gridClasses = 'imgBox, col-sm-3, col-xs-3';

article(id='Artworks',class='artwork')
    h3 Here are some of my many artworks:
    div(class="artGallery row")
        div(class=gridClasses)
            a(href="#",class="thumbnail")
                img(src="",alt="img")
        div(class=gridClasses)
            a(href="#",class="thumbnail")
                img(src="",alt="img")
        div(class=gridClasses)
            a(href="#",class="thumbnail")
                img(src="",alt="img")
        div(class=gridClasses)
            a(href="#",class="thumbnail")
                img(src="",alt="img")
