article(class='projects well')
    h3 Here are some of my projects:
    div(class="panel panel-default ")
        .panel-heading
            h3(class="panel-title") Panel title
        .panel-body
            Panel content
    div(class="panel panel-default ")
        .panel-heading
            h3(class="panel-title") Panel title
        .panel-body
            Panel content
