section(class='wrapper container-fluid')
    include intro.jade
    include aboutus.jade
    include skills.jade
    include experience.jade
    include projects.jade
    include artwork.jade
    include contact.jade
