@import 'var.scss';

*{
    padding: 0px;
    margin: 0px;
    font-size:$primary-FontSize;
    font-family: $primary-FontFamily;
    color: $primary-color;
}
body{
    font-size:$primary-FontSize;
    font-family: $primary-FontFamily;
    color: $primary-color;
    width: 100%;
    margin:0px auto;
    position:relative;

}

@import "header.scss";

@import "wrapper.scss";

@import "footer.scss";

@import "media.scss";
